/* For mobile navbar */
@media only screen and (max-width: 574.7px) {
  .container {
    display: none;
  }
}

/* For the desktop navbar */
@media only screen and (min-width: 574.7px) {
  .navbar {
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .hamburgertoggle {
    display: none;
  }
}

.imageContainer {
  height: 4rem;
  width: 60rem;
  /* border: solid red; */
  align-items: center;
  display: flex;
  background-color: rgb(26, 20, 20);
  padding: 0.5rem;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.navContainer {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  background-color: black;
}
