.image {
  object-fit: cover;
  height: 100%;
}

.text {
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 576px) {
  .navigation {
    display: none;
  }
}

.navbar-nav {
  border: solid blue;
}
